@font-face { 
   font-family: 'devgothic';
   src: url('/fonts/devgothic.eot');
   src: local('devgothic'), local('devgothic'), url('/fonts/devgothic.ttf') format('truetype');
}

img-log{
	display: block;
	background-color: black;
	background-size: contain;
}

body{
	background-color: black;
	background-image: url("imagens/logoLol.png");
}

.buttonGenerateBuild {
	font-size: 30px;
	color: black;
}

.logoLol {
	margin: 0 auto; 
	width: 200px;
	height: 100px;
}

.titulo{
	font-size: 40px;

}

.fonte {
    font-family: 'devgothic';
    color: white;
}

.selectImage {
	cursor: pointer;  /*  substituir href  */
}

.icon-bar {
	background-color: white;
}


