img-log{

	display: block;
	background-color: black;
	background-size: contain;
}

body{
	background-color: black;
}

.buttonGenerateBuild {
	font-size: 30px;
	color: black;
}

.build {
	border-radius: 15px;
	background-color: rgba(116, 21, 21, 0.705);
	border: 1px solid red;
	color: white;
	margin: 20px;
	opacity: 50%;

}

.logoLol {
	margin: 0 auto; 
	width: 200px;
	height: 100px;
}

.titulo{
	font-size: 40px;

}

.fonte {
    font-family: 'devgothic';
    color: white;
}

.selectImage {

	cursor: pointer;  /*  substituir href  */
}

.icon-bar {
	background-color: white;
}
ul.navbar-right li img:hover{	/* li.teste:hover*/
	border: 5px solid  white;
}


